@import url('https://use.typekit.net/are8oau.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #2d3631;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 300vh;

  /*#F2F2FE*/
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccccff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d3631;
}

/*LANDING PAGE*/

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

/* LANDING PAGE IMAGES */

#landing-page-bottom-bg {
  position: absolute;
  bottom: 0;
  z-index: -2;
  max-width: 100%;
}

#landing-page-bottom-bg-mobile {
  display: none;
}

#virus1 {
  position: absolute;
  right: 25%;
  top: 10%;
}

#virus2 {
  position: absolute;
  bottom: 0;
  right: 7%;
  z-index: -1;
}

/* LANDING PAGE LEFT SIDE */

.left-side {
  max-width: 1000px;
  margin: 70px 0 0 70px;
}

.title {
  padding-top: 0;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 40px;
  width: 500px;
}

.title-text {
  font-size: 20px;
  margin-bottom: 70px;
  width: 500px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.main-button {
  padding: 20px 70px;

  font-family: myriad-pro;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background-color: #bebefd;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: ease-in 0.3s;
  text-decoration: none;
  outline: none;
}

.main-button:hover {
  background-color: #9d9dd8;
}

/* LANDING PAGE RIGHT SIDE */

.right-side {
  display: flex;
  flex-direction: column;
  margin: 70px 70px 0 0;
}

.stats-landing-page {
  text-align: right;
}

.stats-landing-page-text {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 5px;
}

.stats-landing-page-number {
  font-size: 28px;
  margin-bottom: 45px;
  margin-top: 0;
}

/*SEARCHING PAGE*/

.searching-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*SEARCHING PAGE IMAGES*/

#back-arrow-1 {
  position: absolute;
  top: 5%;
  left: 2%;
}

#searching-page-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
}

#searching-page-path-mobile {
  display: none;
}

#virus3 {
  position: absolute;
  top: 0;
  right: 7%;
}

/*SEARCHING CONTENT*/

.searching-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searching-title {
  font-size: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searching-container {
  position: relative;
}
.search-box {
  width: 500px;
  height: 62px;
  border-radius: 42px;
  display: flex;
  justify-content: space-around;
  border: 11px solid #ccccff;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  font-family: myriad-pro;
  font-size: 22px;
  color: #2d3631;
}

.suggestions {
  width: 400px;
  border-width: 0 8px 8px 8px;
  border-color: #ccccff;
  border-style: solid;
  border-radius: 0 0 24px 24px;
  max-height: 165px;
  overflow-y: scroll;
  position: absolute;
  display: none;
  left: 50px;
}

.suggestions > div {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.suggestions > div:hover {
  background-color: #ccccff;
}

/*STATS PAGE*/

.stats-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#stats-page-path {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#back-arrow-2 {
  position: absolute;
  top: 5%;
  left: 2%;
}

#virus4 {
  position: absolute;
  bottom: 0;
  left: 13%;
}

#stats-page-bottom-bg-mobile {
  display: none;
}
.country-name p {
  font-size: 78px;
  margin: 0;
  padding: 60px 0;
}

/*TOTAL STATS*/

.stats-total {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 0 80px 0;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 33%;
}

.stat-title {
  font-size: 42px;
  margin: 0;
}

.stat-number {
  font-size: 36px;
  padding: 0;
  margin: 0;
  color: #9d9dd8;
}

/*NEW STATS*/

.stats-new {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.stat-container-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.stat-title-new {
  font-size: 28px;
  margin: 0;
}

.stat-number-new {
  font-size: 22px;
  color: #9d9dd8;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1%;
  color: #9d9dd8;
}

.footer a {
  display: flex;
  flex-direction: column;
}

#github {
  fill: black;
  cursor: pointer;
}

/* 
/
/
/
/
/
/////MOBILE VIEW/////
/
/
/
/
/
/
 */

/*LANDING PAGE*/
@media (min-width: 1700px) {
  #virus1 {
    width: 500px;
  }

  #virus2 {
    width: 500px;
  }

  .title {
    font-size: 88px;
    width: 800px;
    margin-bottom: 80px;
  }

  .title-text {
    font-size: 30px;
    margin-bottom: 120px;
    width: 800px;
  }

  .buttons {
    width: 850px;
  }

  .main-button {
    padding: 30px 100px;
    font-size: 26px;
    border-radius: 42px;
  }

  #virus3 {
    width: 500px;
  }

  #back-arrow-1 {
    width: 100px;
  }

  .stats-landing-page-text {
    font-size: 52px;
    margin-bottom: 10px;
  }
  .stats-landing-page-number {
    font-size: 38px;
    margin-bottom: 80px;
  }

  .searching-title {
    font-size: 88px;
  }

  .search-box {
    width: 800px;
    height: 90px;
    border-radius: 56px;
    border: 14px solid #ccccff;
  }

  .search-box img {
    width: 50px;
  }

  .search-txt {
    font-size: 32px;
  }

  .suggestions {
    width: 500px;
    left: 150px;
    max-height: 255px;
    border-width: 0 10px 10px 10px;
    border-radius: 0 0 28px 28px;
  }
  .suggestions > div {
    padding: 25px;
    font-size: 28px;
  }

  #virus4 {
    width: 500px;
    left: 7%;
  }

  #back-arrow-2 {
    width: 100px;
  }

  .country-name p {
    font-size: 92px;
    margin-top: 50px;
  }

  .stat-title {
    font-size: 50px;
  }

  .stat-number {
    font-size: 42px;
  }

  .stat-title-new {
    font-size: 42px;
  }

  .stat-number-new {
    font-size: 36px;
    color: #9d9dd8;
    margin: 0;
  }

  .footer p {
    font-size: 32px;
    margin: 0 0 10px 0;
  }

  #github {
    width: 50px;
    margin: auto;
  }
}

@media (max-width: 1250px) {
  #virus1 {
    width: 250px;
    right: 27%;
    top: 20%;
  }

  #virus4 {
    width: 250px;
  }

  .footer p {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  #virus1 {
    display: none;
  }
  .stats-landing-page-text {
    font-size: 28px;
  }
  .stats-landing-page-number {
    font-size: 24px;
  }
}

@media (max-width: 926px) {
  .right-side {
    display: none;
  }
  #virus1 {
    display: none;
  }
  #virus2 {
    width: 350px;
  }

  #landing-page-bottom-bg {
    display: none;
  }

  #landing-page-bottom-bg-mobile {
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: -2;
    width: 100%;
  }

  .left-side {
    margin: 30px 50px;
    width: 100%;
    text-align: center;
  }
  .title {
    width: auto;
    font-size: 72px;
  }
  .title-text {
    width: auto;
    margin-bottom: 60px;
    font-size: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  #list-button {
    display: none;
  }

  /*SEARCHING PAGE*/

  #back-arrow-1 {
    width: 50px;
  }

  #virus3 {
    width: 350px;
  }

  #searching-page-bg {
    display: none;
  }
  #searching-page-path-mobile {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .searching-content {
    text-align: center;
  }
  .search-box {
    width: 400px;
    justify-content: space-evenly;
  }
  .suggestions {
    width: 300px;
    max-height: 110px;
  }
  /*STATS PAGE*/

  .stats-page {
    text-align: center;
    margin: 0 20;
  }

  #back-arrow-2 {
    width: 50px;
  }

  #stats-page-bottom-bg-mobile {
    display: inline-block;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: -1;
  }

  #stats-page-path {
    display: none;
  }

  #virus4 {
    display: none;
  }

  .country-name p {
    font-size: 58px;
  }

  .stat-number {
    font-size: 24px;
  }

  .stat-title {
    font-size: 28px;
  }

  .stats-total {
    width: 80%;
  }

  .stats-new {
    width: 80%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 24px;
  }

  #github {
    width: 60px;
  }
}

@media (max-width: 550px) {
  .left-side {
    margin: 30px 30px;
  }

  .title {
    font-size: 46px;
  }

  .title-text {
    font-size: 16px;
  }
  #virus2 {
    width: 240px;
    bottom: 0;
    margin: 0 auto;
  }
  .buttons {
    padding-top: 20px;
  }

  .main-button {
    padding: 15px 30px;
  }

  #virus3 {
    width: 240px;
    margin: 0 auto;
  }

  #back-arrow-2 {
    width: 30px;
  }

  #back-arrow-1 {
    width: 30px;
  }
  .search-box {
    width: 250px;
    justify-content: space-around;
  }

  .search-box input {
    width: 150px;
  }

  .search-txt {
    font-size: 16px;
  }

  .search-box img {
    width: 30px;
  }

  .searching-title {
    font-size: 38px;
  }

  .suggestions {
    width: 150px;
  }

  .country-name p {
    padding: 100px 0 60px 0;
  }

  .stat-title {
    font-size: 22px;
  }

  .stat-number {
    font-size: 18px;
  }

  .stat-title-new {
    font-size: 18px;
  }

  .stat-number-new {
    font-size: 16px;
  }

  .footer p {
    font-size: 18px;
  }

  #github {
    width: 30px;
  }
}

/*.container{
    width: 60%;
    background: #333;
    margin: 100px auto;
}
.container input{
    background: transparent;
    border: 0;
    border-radius: 6px;
    font-size: 30px;
    color:#fff;
   margin: 10px auto;
}
.suggestions{
    border-top: 2px solid #999;
}
.suggestions > div{
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;
}
.suggestions > div:hover{
background-color: #999;

}*/
